body {
	font-family: Calibri, Arial, Helvetica, sans-serif;
}
.label {
	color: black;
	display: inline-block;
	width: 100px;
}
input {
	border: 1px solid lightgrey;
}
.signature {
	font-size: 12pt;
	color: #404040;
}
.name {
	font-size: 16pt;
	 font-weight: bold;
	 color: #E15156;
}
.title {
	font-size: 14pt;
	font-weight: bold;
}
.org {
}
.motto {
	 color: #943634;
}
.phone {
}
.email {
	 color: #0000FF;
}
.button {
	padding: .5em;
}